
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(69, 227, 227);
}
@media only screen and (max-width: 600px) {
    body {
         font-size: 10px;
        }
    
      }
      @media only screen and (min-width: 600px) and( max-width: 1400px) {
        body {
             font-size: 28px;
             background-color: bisque;
            }
        
          }

.container{
    border: 3px solid black;
    margin: 5px;
    margin-bottom: 30px;
    padding: 5px;
    background-color: rgb(209, 154, 34);
    border-radius: 5%;
    text-align: center;
    outline: 10px solid black;
}

h2{
    border: 5px solid red;
    text-align: center;
    border-radius: 10px;
    background-color:rgb(190, 251, 22);
}

h4{
    font-weight: bold;
    font-style: italic;
}

footer{
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
    margin: 30px;
}

a:link{
    color: blueviolet;
}
a:hover{
    color: red;
}

.flexcontainer1{
    display: flex;
    justify-content: space-around;
    background-color: lightpink;
    height: 250px;
}

#picture{
    height: 50vh;
}

.flexcontainer1 > div{                                         
    background-color: rgb(205, 237, 22);
    color: black;
    width: 200px;
    margin: 20px;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
}   

.flexcontainer2{
    display: flex;
    
    background-color: tomato;
    height: 100px;
    justify-content: space-around;
}

.flexcontainer2 > div{
   background-color: lightgreen;
   color: black;
   margin: 30px;
}
    
