article {   /* I. Selectors */ 
    /* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
    margin: 50px;
    padding: 20px;
    border: 1px solid black;
}
.style-me1{
    color: red;
}
#style-me2{
    color: blue;
}
.style-me1#style-me2{ /* Help*/
    color: purple;
}

.my-descendants-are-styled p { /* Put styles for questions 2.1 and 2.2 here */

    background-color: red;
}   

.my-children-are-styled > p {
    background-color: lightgreen;
}


/* II. Box model and common properties */
.box {                                    /* Put styles for questions 1-8 here */
    background-color: tomato;
}   

.box {
    margin: 40px;
    padding: 20px;
    width: 95%; /*help*/
    height: 95% !important; /*help*/
    border: 10px solid rgb(39, 235, 29);
    outline: 10px solid blue;
    border-radius: 50%;
    box-sizing: border-box ;
    overflow: auto;
    background-image: url("./assets-20240311T010714Z-001/assets/images/img1.png")
}





/* III. Positioning */
.position-absolute {      /* Put styles for questions 1-3 here */
position:absolute;
top: 0px;
right: 50px;
background-color: aqua;
}    

.position-relative{
    position:relative;
    background: goldenrod;
}

.position-sticky {
    position:sticky;
    background-color: grey;
    top: 0px;

}


/* IV. Styling text */
.text-style { 
    color: blue;      
    font-size: 25px;
    line-height: 30px;   
    font-weight: 900; 
    font-family: sans-serif; /*HELP*/     /* Put styles for questions 1-10 here */
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-transform: capitalize;
    text-decoration:line-through;

}   


/* V. Styling links */
/* Put styles for questions 1-3 here */


a:link {
    color: blue;
    font-size: 14px;
    font-weight: 800;
    text-decoration: underline;
  }    

a:hover {
color: peru;
text-decoration: overline;
}

a:active{
    color:aqua;
    text-decoration: dotted;
}

a:focus{
    color: brown;
    text-decoration: wavy;
}

a:visited{
    color: red;
    font-style: italic;
    
}

.calc-style{                          /* VI. calc() */ /* Put styles for questions 1-3 here */
    width: 110vw;
    background-color: blueviolet;
    width: calc(100vw - 100px);
}  

.fixed-width-col{
    width: 350px;
    display: inline-block;
}

.fluid-col{
    display: inline-block;
    
}